* {
  margin: 0;
  padding: 0;
}
.body {
  width: 100%;
  height: 80.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: 100vw 130vh;
  background-image: url("./Assets/Background/stadiumNight.jpg");
}

.card1 {
  width: 30vw;
  height: 70vh;
  display: flex;
  border-radius: 10%;
  background-color: rgb(237, 109, 109);
  margin-left: 100px;
  border: 2px solid black;
}
.card2 {
  width: 50vw;
  height: 70vh;
  display: flex;
  border-radius: 10%;
  background-color: rgb(237, 109, 109);
  opacity: 0.8;
  margin-left: 100px;
  align-items: center;
  border: 2px solid black;
}
#image {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border-radius: 20%;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  padding-left: 5%;
}

.head {
  height: 110px;
  background-image: url(./Assets/Background/stadiumNight.jpg);
}
.logoo {
  height: 50px;
  width: 120px;
  padding-top: 5px;
  opacity: 0.98;
  margin-left: 150px;
  position: relative;
}
.logo {
  height: 50px;
  width: 900px;
  margin-left: 30px;
  opacity: 0.8;
  position: relative;
}
nav {
  width: 100%;
  height: 100%;
}

nav ul {
  float: right;
  margin-left: 70px;
  margin-right: 50px;
  margin: 10px;
  margin-top: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.8s all;
  margin-right: 12px;
}
a:hover {
  background-color: rgb(214, 149, 9);
  height: 35px;
  box-sizing: content-box;
  border-radius: 3%;
  color: black;
}
li a {
  text-decoration: none;
  color: blue;
  font-size: 23px;
  font-weight: bold;
}

input {
  margin-left: 500px;
  margin-right: 50px;
}
input {
  font-size: 15px;
  padding: 2px;
  opacity: 0.6;
  color: black;
  padding-right: 52px;
  font-weight: bolder;
}
#title {
  width: 100%;
}
footer {
  height: 10%;
  font-size: 22px;
  color: rgba(5, 5, 152, 0.94);
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  transition: 0.7s all;
  position: relative;
  font-weight: bolder;
  background-color: rgba(4, 2, 29, 0.959);
}
